@font-face {
  font-display: block;
  font-family: Mori;
  font-style: normal;
  font-weight: 400;
  src: url(https://assets.codepen.io/16327/PPMori-Regular.woff) format("woff");
}

body {
  --light: #fffce1;
  width: 100%;
  height: 400vh;
  background: #0e100f;
  color: var(--light);
  font-family: "Mori", sans-serif;
}

.header-section {
  position: relative;
  text-align: center;
  margin: 100px auto 0;
}

#svg-stage {
  max-width: 600px;
  overflow: visible;
  margin-top: 60vh;
}

.ball {
  fill: var(--light);
  visibility: hidden;
}

.line {
  fill: none;
  stroke: var(--light);
  stroke-width: 2px;
}

text {
  fill: var(--light);
  font-size: 15px;
  visibility: hidden;
}

.theLine {
  stroke: var(--light);
  stroke-dasharray: 1000 1000;
  stroke-dashoffset: 1000;
}
